<html>
<head><title><%= i18n.index.title %></title></head>
<link rel="stylesheet" type="text/css" href="/main.css" />
<style>
	
	body{
		padding: 3em;
	}
	
	.header{
		text-align: left;
	}
	
	li{
		margin: .5em;
	}
	
	table{
		width: 100%;
		border: 5px gray dotted;
		text-align: center;
	}
	
	td{
		border: 1px gray solid;
		padding: .5em;
	}


	
	

</style>
<body>
<div class='nav'><a href='/load'><%= i18n.index.load_new %></a></div>
<div class='header'><%= i18n.index.recent_uploads %></div>
<%= pagin $page, $max %>
<%= 
s=""
if($res.length>0)
 s = "<div><table>"
 $res.each do |r| s+=r.to_tr end
 s += "</table></div>"
else
 s = "(#{i18n.index.noneRes})"
end
 s %>
</body>
</html>